body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #333333;
  /* background-image: linear-gradient( to left, #aaaaff, powderblue); */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  border: 2px outset bisque;
  width: 400px;
  height: 300px;
  text-align: center;
  font-size: 22pt;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  /* background-image: linear-gradient(to bottom right, #aaaaff, powderblue); */

}

h1 {
  color: bisque;
}
